.react-calendar-heatmap .color-empty {
  fill: #e2e8f0;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #bee3f8;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #63b3ed;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #3182ce;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #2c5282;
}

.react-calendar-heatmap rect:hover {
  stroke: #2b6cb0;
  stroke-width: 2px;
  cursor: pointer;
}
